@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Docker Lab</h1>
    <h2>This environment is: @Model.Configuration["App:Environment"]</h2>
</div>
